//font
$NotoSans: "Noto Sans KR", sans-serif;
$Roboto: "Roboto", sans-serif;
$Rowdies: "Rowdies", sans-serif;

//common
body {
  font-family: $NotoSans;
  font-size: 12px;
  letter-spacing: -0.4px;
  font-weight: 300;
  line-height: 1.5em;
  color: #444034;
}

h1,
h2,
h3,
h4,
p,
div,
ul,
li,
img,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: 414px;
  background-color: #fef2c6;
}

//인생제주
.main {
  position: relative;
  background-color: #fef8ea;
  height: 443px;
  text-align: center;

  .img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.mainTitle {
  margin-top: 86px;
  display: inline-block;
  font-weight: 700;

  span {
    display: block;
  }

  .jeju {
    text-align: left;
    img {
      width: auto;
    }
  }

  .title {
    color: #ea6327;
    font-size: 79px;
    letter-spacing: -3px;
    font-weight: 800;
    line-height: 79px;
    -webkit-text-stroke: 1px #d25c27;
  }

  .txt {
    color: #eb6223;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
  }
}

.mainSubTitle {
  position: absolute;
  left: 42px;
  top: 32px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #23672a;
}

//제주 지역별 안내
.map {
  text-align: center;

  p {
    margin-bottom: 68px;
    text-align: right;
    margin-right: 68px;
    color: #444034;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-shadow: 0px 4px 3px rgba($color: #000, $alpha: 0.2);
  }

  img {
    max-width: 350px;
  }

  .img {
    margin: 0 0 34px;
    text-align: center;
  }
}

.mapTitle {
  margin-top: 45px;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #000;
  text-shadow: 0px 4px 3px rgba($color: #000, $alpha: 0.2);

  .color {
    color: #518b0e;
  }
}

//지역별 안내 목록
.locationTitle {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #000;

  .num {
    color: #ee5714;
    font-family: $Roboto;
  }
}

.locationList {
  margin: 0 29px;
  li {
    position: relative;
    min-height: 100px;
    margin-bottom: 42px;
  }
  p {
    line-height: 1.3em;
  }
  .img {
    position: absolute;
    top: -5px;
  }
  .color {
    color: #62931f;
  }
  .odd {
    padding-left: 124px;
    .img {
      left: 0;
    }
  }
  .even {
    padding-right: 124px;
    .img {
      right: 0;
    }
  }
}

//내가 원하는 제주 여행은

.theme {
  overflow: hidden;
  a.btn {
    display: block;
    margin: 41px auto 44px;
    width: 220px;
    height: 40px;
    border-radius: 40px;
    letter-spacing: -0.7px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background-color: #d9463e;
  }
}

.themeTitle {
  margin-top: 32px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #020102;
  text-align: center;
}

.themeList {
  position: relative;
  height: 542px;
  margin: 0 30px;
}

.themeList > li {
  width: 33.33%;
  float: left;
  &:first-child {
    .themeLink {
      border-left: 1px solid #c45722;
    }
  }
}

.themeLink {
  background-color: #fff;
  height: 35px;
  text-align: center;
  font-weight: 300;
  border-top: 1px solid #c45722;
  border-bottom: 1px solid #c45722;
  border-right: 1px solid #c45722;
  transition: 0.25s background-color ease;
}
.themeLink.active {
  background-color: #ec7742;
}

.themeLink {
  a {
    display: block;
    line-height: 35px;
    color: #c65d29;
    transition: 0.25s color ease;
  }
}
.themeLink.active {
  a {
    color: #fff;
  }
}

.themeItem {
  position: absolute;
  top: 52px;
  left: 0;
  padding: 0 15px 22px 0;
  background-color: #fff;
  border-radius: 10px;
  li {
    float: left;
    width: 50%;
    margin-top: 22px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .img {
    margin-bottom: 14px;
  }
  .ticket {
    position: relative;
    margin-bottom: 5px;
    color: #000;
    overflow: hidden;
    span {
      float: right;
      padding: 0 4px;
      line-height: 14px;
      border-radius: 14px;
      background-color: #eb6226;
      color: #fff;
      font-family: $Rowdies;
    }
  }
  .title {
    span {
      display: block;
      margin-bottom: 13px;
      color: #010101;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      letter-spacing: -0.7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fontSize {
      margin-bottom: 0px;
      font-size: 15px;
    }
  }
  .price {
    line-height: 18px;
    letter-spacing: -0.7px;
    color: #4f4f4f;
    font-size: 14px;
  }
  .discount {
    text-decoration: none;
    font-weight: 700;
    color: #010101;
    em {
      margin-left: 5px;
      font-family: $Rowdies;
      font-weight: 900;
      letter-spacing: -0.7px;
    }
  }
}

.ticketPrice {
  text-decoration: line-through;
}
